# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# -------------------------
# PyCharm
# -------------------------
.idea/

# -------------------------
Datasets/
data/
*.csv
*.zip
*.json
*.h5

# -------------------------
# OS / System
# -------------------------
.DS_Store
Thumbs.db
